snippet todo
	<!--TODO: $1-->
snippet code
  ```$1
  $0
  ```
snippet bash
  ```bash
  $1
  ```
snippet js
  ```javascript
  $1
  ```

snippet new_post
  ---
  title: "$1"
  publishDate: "$2"
  description: "$3"
  tags: ["$4"]
  ---
  $0
