[user]
    name = Thuan Pham
    email = phamtanthuan2311@gmail.com

[core]
    editor = nvim

[merge]
    tool = vimdiff

[mergetool]
    prompt = true

[mergetool "vimdiff"]
    cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'

[difftool]
    prompt = false

[diff]
    tool = vimdiff
    colorMoved = zebra

[credential "https://github.com"]
    helper = !/usr/bin/gh auth git-credential

[pull]
    rebase = true

[fetch]
    prune = true

[pager]
    diff = delta
    log = delta
    reflog = delta
    show = delta

[delta]
    light = true
