[user]
    name = thuan
    email = phamtanthuan2311@gmail.com
[merge]
  tool = vimdiff
[mergetool]
  prompt = true
[mergetool "vimdiff"]
  cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[difftool]
  prompt = false
[diff]
  tool = vimdiff
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
