[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=discord
Exec=google-chrome --app="https://discord.com/channels/@me"
Icon=/home/master/dotfiles/applications/icons/discord.png
