[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=excalidraw
Exec=brave-browser --app="https://excalidraw.com/"
Icon=/home/master/dotfiles/applications/icons/excalidraw.png
