[Desktop Entry]
Type=Application
Exec=foot --title="main"
Icon=foot
Terminal=false
Categories=System;TerminalEmulator;
Keywords=shell;prompt;command;commandline;

Name=Foot main
GenericName=Terminal
Comment=A wayland native terminal emulator
