[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=new form
Exec=brave-browser --app="https://form.new"
Icon=/home/master/dotfiles/applications/icons/forms.png
