[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Gmail 2
Exec=google-chrome --app="https://mail.google.com/mail/u/2/#inbox"
Icon=/home/master/dotfiles/applications/icons/gmail.svg
