[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=google photos
Exec=brave-browser --app="https://photos.google.com"
Icon=/home/master/dotfiles/applications/icons/google-photos.png
