[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=keep
Exec=firefox --new-window "https://keep.google.com/u/0/"
Icon=/home/master/dotfiles/applications/icons/google-keep.png
