[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Mem
Exec=sh -c 'wmctrl -s 3 ; google-chrome --app="https://mem.ai/timeline" ; sleep 0.1 ; wmctrl -r "Mem" -b add,maximized_vert,maximized_horz'
Icon=/home/master/dotfiles/applications/icons/mem.png
