[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=new slide
Exec=xdg-open "https://slide.new"
Icon=/home/master/dotfiles/applications/icons/google-slides.png
