[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=new meet
Exec=sh -c 'wmctrl -s 8 ;google-chrome "https://meet.new" ; sleep 0.1 ; wmctrl -r "meet" -b add,maximized_vert,maximized_horz'
Icon=/home/master/dotfiles/applications/icons/google-meet.png
