[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=new figma
Exec=google-chrome --new-window "figma.new"
Icon=/home/master/dotfiles/applications/icons/figma.png
