[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=new figma
Exec=brave-browser --app="https://figma.new"
Icon=/home/master/dotfiles/applications/icons/figma.png
