[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=new sheet
Exec=/usr/bin/google-chrome --app="https://sheet.new"
Icon=/home/master/dotfiles/applications/icons/google-sheets.png
