[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=youtube studio
Exec=firefox-developer-edition --new-window "https://studio.youtube.com/channel/UCLAeh5SDjUBOjnE8HTXJLGw"
Icon=/home/master/dotfiles/applications/icons/youtube.png
