[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=zoom browser
Exec=google-chrome --app="https://pwa.zoom.us/wc"
Icon=/home/master/dotfiles/applications/icons/zoom.png
