[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=zoom browser
Exec=sh -c 'wmctrl -s 8 ;firefox-developer-edition --new-window "https://zoom.us/join" ; sleep 0.1 ; wmctrl -r "google meet" -b add,maximized_vert,maximized_horz'
Icon=/home/master/dotfiles/applications/icons/zoom.png
