snippet	talk
---
title: $1
author: thuanpham2311
date: `!v strftime("%Y-%m-%d %H:%M")`
categories: [Talk show]
tags: [$2]
---

**Live stream link:**
- <>

📚 Chapters
- 0:00 Hi

**Note:**
endsnippet

snippet	post
---
title: $1
author: thuanpham2311
date: `!v strftime("%Y-%m-%d %H:%M")`
categories: [blog]
tags: [$2]
---

$3

**Reference**
- Github của tui: [http://github.com/thuanpham2311](http://github.com/thuanpham2311)
- Đọc thêm mấy cái xàm xí của tui: [https://thuanpham2311.github.io](https://thuanpham2311.github.io)

---

**DISCLAIMER**

Những câu chuyện, bài học và lời khuyên của tui là những trải nghiệm riêng của cá nhân, không phản ánh ý kiến từ những tổ chức hay công ty nào. Đa phần lời tui viết là chém gió, nên mấy chế nên suy ngẫm nó có phù hợp với hoàn cảnh của bản thân không nha.
endsnippet
