snippet feat "feauture git commit"
feat($1): $2
endsnippet

snippet fix "fix git commit"
fix($1): $2
endsnippet

snippet docs "Documents git commit"
docs($1): $2
endsnippet

snippet style "style git commit, don't effective code"
style($1): $2
endsnippet

snippet refactor
refactor($1): $2
endsnippet
