snippet feature
feature($1): $2
endsnippet

snippet fix
fix($1): $2
endsnippet

snippet documents
documents($1): $2
endsnippet

snippet style
style($1): $2
endsnippet

snippet clean_code
style($1): clean code
endsnippet

snippet refactor
refactor($1): $2
endsnippet
