snippet cl
console.log( $1 );
$2
endsnippet

snippet for
	for (let ${1:i} = 0; $1 < $2; $1++) {
		${0:${VISUAL}}
	}
endsnippet

snippet ran "random number form end : start"
Math.floor(Math.random() * $2) + $1
endsnippet
