snippet	talk
📚 Chapters

- 0:00 Hi

**Note:**

- $1
endsnippet

snippet	post
---
title: $1
author: thuanpham2311
date: `!v strftime("%Y-%m-%d %H:%M")`
categories: [Blogging]
tags: [$2]
---

$3

**Reference**

- Thông tin về tui: <https://bio.link/thuanpham2311>

---

**DISCLAIMER**

Những câu chuyện, bài học và lời khuyên của tui là những trải nghiệm riêng của cá nhân, không phản ánh ý kiến từ những tổ chức hay công ty nào. Đa phần lời tui viết là chém gió, nên mấy chế nên suy ngẫm nó có phù hợp với hoàn cảnh của bản thân không nha.
endsnippet

snippet video

---
- Author: $1
- Link: $2
> #video
endsnippet

snippet article

---
- Author: $1
- Link: $2
> #article
endsnippet

snippet shortLink "short link"
---
redirect_to: $1
---
endsnippet
