snippet **
**$1** $0
endsnippet

snippet *
*$1* $0
endsnippet

snippet <
<$1> $0
endsnippet

snippet ~~
~~$1~~ $0
endsnippet

snippet link
[$2](<$1>) $0
endsnippet

snippet img
![$2](<$1>) $0
endsnippet

snippet youtubeDefaultDescription
👋 Hi folks
• I'm a random nerd, finding something fun to do every day.
• Filming yourself for fun while I live in the earth.
• I disable comment by default. So if you have something want to talk with me go to the link below.
• Connect with me: https://bio.link/thuanpham2311

==DISCLAIMER==
My stories, lessons, and advice are my personal experience, not reflecting opinions from any organization or company.

==© copyright==
• There is no need to email me for permission.
• Use my content however you want! Email it, share it, reprint it with or without credit.
• Change it around, put in a bunch of swear words and attribute them to me.
⇒  It's okay! You just DO WHAT THE F**K YOU WANT TO.

#thuanpham2311
endsnippet

snippet	talk-show
# Talk show `!v strftime("%b %d, %Y")`: $1

📚 Chapters

- 0:00 Hi
- $2

📓 Note:

- $0

👋 Hi folks
• I'm a random nerd, finding something fun to do every day.
• Filming yourself for fun while I live in the earth.
• I disable comment by default. So if you have something want to talk with me go to the link below.
• Connect with me: https://bio.link/thuanpham2311

==DISCLAIMER==
My stories, lessons, and advice are my personal experience, not reflecting opinions from any organization or company.

==© copyright==
• There is no need to email me for permission.
• Use my content however you want! Email it, share it, reprint it with or without credit.
• Change it around, put in a bunch of swear words and attribute them to me.
⇒  It's okay! You just DO WHAT THE F##K YOU WANT TO.

#thuanpham2311
endsnippet

snippet	post
---
title: $1
author: thuanpham2311
date: `!v strftime("%Y-%m-%d %H:%M")`
categories: [Blogging]
tags: [$2]
---

$3

**Reference**

- Thông tin về tui: <https://bio.link/thuanpham2311>

---

**DISCLAIMER**

Những câu chuyện, bài học và lời khuyên của tui là những trải nghiệm riêng của cá nhân, không phản ánh ý kiến từ những tổ chức hay công ty nào. Đa phần lời tui viết là chém gió, nên mấy chế nên suy ngẫm nó có phù hợp với hoàn cảnh của bản thân không nha.
endsnippet

snippet video

---
- Author: $1
- Link: <$2>
> #video
endsnippet

snippet article

---
- Author: $1
- Link: <$2>
> #article
endsnippet

snippet shortLink "short link"
---
redirect_to: $1
---
endsnippet

snippet human
# $1

- $0

---
> #human $2
endsnippet

snippet note
[$1](`!v strftime("%Y%m%d%H%M%S")`.md) $0
endsnippet

snippet cpp
\`\`\`cpp
$0
\`\`\`
endsnippet

snippet js
\`\`\`js
$0
\`\`\`
endsnippet

snippet sh
\`\`\`sh
$0
\`\`\`
endsnippet
